@import "tailwindcss";

@layer utilities {
  .heading-1 {
    @apply text-xl md:text-2xl lg:text-4xl font-bold tracking-tight;
  }

  .heading-2 {
    @apply text-lg md:text-xl lg:text-2xl font-bold tracking-tight text-gray-100;
  }

  .heading-3 {
    @apply text-sm md:text-base lg:text-lg font-semibold tracking-tight text-gray-100;
  }

  .paragraph {
    @apply text-sm lg:text-base text-gray-300 leading-relaxed tracking-wide;
  }

  .card {
    @apply border border-gray-800 rounded-sm p-6 bg-gray-950;
  }

  .button {
    @apply flex items-center justify-center 
         px-6 py-2 text-black bg-gray-300 rounded-sm
         hover:bg-gray-50 focus:ring-3 focus:ring-gray-400
         focus:ring-offset-2 transition-colors text-center cursor-pointer;
  }

  .button-secondary {
    @apply flex items-center justify-center
         px-6 py-2 text-sm text-gray-400 rounded-sm
         border border-gray-800 bg-gray-800/50 hover:bg-gray-700/50
         hover:border-gray-600 transition-colors text-center cursor-pointer;
  }
}

@theme {
  --font-sans: "Inter", "sans-serif";

  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-blink: blink 1s step-end infinite;
  --animate-tilt: tilt 10s infinite linear;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes tilt {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
  }
}
