---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div class="flex items-center justify-center flex-col">
    <h1 class="heading-1">404</h1>
    <p class="paragraph mt-4">Page Not Found</p>
  </div>
</Layout>
