---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog" description="">
  <section
    class="flex flex-col items-center justify-center text-center px-3 md:px-16"
  >
    <h1 class="heading-2">Nothing here yet ＜(。_。)＞</h1>
  </section>
</Layout>
