---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
---

<BaseLayout
  title="Contact"
  description="Reach out to me for questions, collaborations or just to say hi"
>
  <div
    class="w-full flex flex-col lg:flex-row lg:justify-center items-stretch gap-12 lg:gap-0 m-8"
  >
    <section class="lg:w-1/2 flex flex-col justify-center lg:px-16">
      <h1 class="heading-1">Have a question? Want to work together?</h1>
      <p class="paragraph mt-4">
        Leave me a message and I'll get in touch with you as soon as possible.
        You can also find me on social media.
      </p>

      <div class="flex gap-4 lg:flex-row mt-8 mb-8 lg:mb-0">
        <a
          href="https://github.com/lasjdhu"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
          class="flex items-center space-x-2 px-5 py-2 rounded-full border-2 border-gray-300 hover:bg-gray-600/50 text-gray-300 transition-colors duration-300"
        >
          <GitHubIcon classes="w-5 h-5 md:w-6 md:h-6" />
          <span class="text-xs md:text-sm">GitHub</span>
        </a>
        <a
          href="https://linkedin.com/in/dmitrii-ivanushkin"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          class="flex items-center space-x-2 px-5 py-2 rounded-full border-2 border-gray-300 hover:bg-blue-900/50 text-gray-300 transition-colors duration-300"
        >
          <LinkedInIcon classes="w-5 h-5 md:w-6 md:h-6" />
          <span class="text-xs md:text-sm">LinkedIn</span>
        </a>
      </div>
    </section>

    <section class="lg:w-1/2 h-[400px] flex items-center justify-center">
      <ContactForm />
    </section>
  </div>
</BaseLayout>
