---
import BaseLayout from "../layouts/BaseLayout.astro";
import Terminal from "../components/Terminal";
---

<BaseLayout>
  <div
    class="w-full flex flex-col lg:flex-row lg:justify-center items-stretch gap-12 lg:gap-0 m-8"
  >
    <section class="lg:w-1/2 flex flex-col justify-center max-w-3xl lg:px-16">
      <h1 class="heading-1 mb-4">Welcome to my digital space</h1>
      <p class="paragraph">
        This is where you can find my projects, blog posts, and a bit about my
        background. I share what I'm working on and write about tech topics that
        interest me.
      </p>
      <nav class="flex gap-4 flex-col lg:flex-row mt-8">
        <a href="/about" aria-label="About me" class="button"> About me </a>
        <a href="/blog" aria-label="Visit blog" class="button-secondary">
          Visit my blog
        </a>
      </nav>
    </section>
    <section class="lg:w-1/2 h-[400px] flex items-center justify-center">
      <Terminal client:only="react" />
    </section>
  </div>
</BaseLayout>
