---

---

<footer
  class="flex flex-row items-center justify-center py-5 text-center align-center"
>
  <p class="text-xs lg:text-sm text-gray-500 leading-relaxed tracking-wide">
    © {new Date().getFullYear()} Dmitrii Ivanushkin
  </p>
</footer>
