---

---

<footer
  class="flex flex-row items-center justify-center py-5 text-center align-center"
>
  <p class="text-sm text-gray-400">
    © {new Date().getFullYear()} Dmitrii Ivanushkin
  </p>
</footer>
