---
let activeLink = new URL(Astro.request.url).pathname;
const { navStyle } = Astro.props;
const links = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/blog", text: "Blog" },
  { href: "/contact", text: "Contact" },
];
---

<nav class={navStyle}>
  {
    links.map(({ href, text }) => (
      <a
        href={href}
        class={`
          hover:text-white focus:text-white active:text-white
          transition-all duration-300
          ${activeLink === href ? "text-white" : "text-gray-400"}
        `}
      >
        {text}
      </a>
    ))
  }
</nav>
