---
const { classes } = Astro.props;
---

<div class={classes}>
  <span class="text-gray-300 font-bold mr-2">🚧 Small note</span>
  <p class="text-sm leading-relaxed text-gray-300 mt-2">
    Very soon the terminal will contain all the information from this website.
    Now it's a playground for you to play with. Try typing <code
      class="py-0.5 px-1.5 bg-sky-800/50 rounded">help</code
    > to get started.
  </p>
</div>
