@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Press Start 2P", serif;
}

header {
  margin-top: 15px;
  display: flex;
  height: 100px;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header a {
  position: absolute;
  padding: 0.5%;
  top: 0;
  left: 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin: 3rem;
  text-align: center;
}

header a:hover {
  color: #000000;
  background-color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.game {
  width: 50%;
  text-align: center;
}

.gameCanvas {
  display: flex;
  border: 1px solid white;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 90%;
  max-width: 480px;
}

.gameButtons button {
  font-size: 1.2rem;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 160px;
  margin: 0.5em 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  text-align: center;
}

.gameButtons button:hover {
  background-color: white;
  color: black;
}

.rules {
  width: 50%;
  padding: 0% 5%;
  list-style-position: inside;
}

.rules h2 {
  margin-bottom: 5%;
}

.rules li {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1100px) {
  main {
    height: calc(100vh - (115px + 50px));
  }
}

@media only screen and (max-width: 1100px) {
  header {
    font-size: 1rem;
    text-align: center;
  }

  header a {
    position: relative;
    margin: 1rem 0;
  }

  header h1 {
    font-size: 1.6rem;
  }

  main {
    flex-direction: column;
    margin: 0% 3%;
  }

  .game {
    width: 100%;
    margin-top: 10%;
  }

  .rules {
    width: 100%;
    margin-top: 10%;
  }

  .rules h2 {
    text-align: center;
  }

  .rules li {
    margin-bottom: 5%;
  }
}
