@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: black;
    color: white;
}

header {
    font-family: 'Press Start 2P', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
    header {
        font-size: 1rem;
    }
}

.game {
    margin:0;
    padding: 0;
    overflow: hidden;
}

.gameButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .gameButtons {
        flex-direction: column;
    }
}

@media only screen and (max-width: 767px) {
    .gameButtons div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

.gameButtons button {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    width: 156px;
    margin: auto 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .gameButtons button {
        margin: 0.5rem auto;
        padding: auto;
    }
}

.gameButtons button:hover {
    background-color: white;
    color: black;
}

.gameCanvas {
    display: flex;
    border: 1px solid white;
    margin: 3rem auto;
    padding: 1rem 1rem;
    width: 80%;
    max-width: 480px;
}

@media only screen and (max-width: 767px) {
    .gameCanvas {
        margin: 2rem auto;
    }
}
