@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*.custom-grad {
	background-image: linear-gradient(225deg, #3698A7, #153C6A, #0B223D);
}*/

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
	
	h1 {
		font-family: 'Lora', serif;
	}
}
