@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3698A7 transparent #3698A7 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page-fade-enter {
  opacity: 0;
}

.page-fade-enter-active {
  opacity: 1;
  transition: opacity 2s;
}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit-active {
  opacity: 0;
  transition: opacity 2s;
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
	
	h1 {
		font-family: 'Lora', serif;
	}
}
